.commentList-comment-item__wrapper {
  max-width: calc(100% - 28px);
}

.commentList-comment-item__icon {
  path {
    fill: #9ca3af;
  }
}

.commentList-comment-item__dropdown-menu {
  width: 300px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
