.gridImages__wrapper {
  grid-auto-rows: minmax(200px, 400px);
  grid-auto-flow: dense;
  justify-items: center;
}

.gridImages__extra {
  path {
    fill: #fff;
  }
}

.colspan-2 {
  grid-column: span 2 / auto;
}
.colspan-3 {
  grid-column: span 3 / auto;
}
